<nav class="navbar">
    <button (click)="toggleSideBar()" class="toggle-btn" >▤</button>
    <div class="navbar-left">
        <h1 class="logo">JobBoard</h1>
        <div class="search-container">
            <input #searchInput type="text" class="search-input" placeholder="Search jobs, companies, skills..." (input)="onSearch(searchInput.value)"/>
            <button class="search-btn">Search</button>
        </div>
    </div>

    <div class="navbar-right">
        <!-- <button class="btn">Find Jobs</button>
        <button class="btn">Filter</button> -->
        <div class="profile">
            <span>Profile</span>
        </div>
    </div>
</nav>