<div class="job-card">
        <h3 class="job-title">{{job.title}}</h3>
        <div class="job-details">
            <div class="job-detail">
                <span class="job-label">Role:</span>
                <span class="job-value">{{job.title}}</span>
            </div>
            <div class="job-detail">
                <span class="job-label">Location:</span>
                <span class="job-value job-location">{{job.location}}</span>
            </div>
            <div class="job-detail">
                <span class="job-label">Company:</span>
                <span class="job-value">{{job.companyName}}</span>
            </div>
            <div class="job-detail">
                <span class="job-label">Mode:</span>
                <span class="job-value">
                    <span class="job-mode">{{job.employmentType}}</span>
                </span>
            </div>
            <div class="job-detail">
                <span class="job-label">Package:</span>
                <span class="job-value job-package">{{job.salary}}</span>
            </div>
        </div>
        <button class="view-details-btn" [routerLink]="['job-details',job._id]" >View Details</button>
    </div>